<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 수혜개인임시 -->
<mapper namespace="kr.bizdata.semas.pms.bnft.mapper.BnftPsnlTempMapper">
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="psnlSn">
		/* SQL ID : BnftPsnlTempMapper.insert */
		INSERT INTO BNFT_PSNL_TEMP (
		       APLY_SN          /* 신청일련번호 */
		     , BRNO             /* 사업자등록번호 */
		     , PSNL_NM          /* 개인이름 */
		     , EML              /* 이메일 */
		     , MBNO             /* 핸드폰 */
		     , TELNO            /* 전화번호 */
		     , ZIP              /* 우편번호 */
		     , ADDR             /* 기본주소 */
		     , DADDR            /* 상세주소 */
		     , BRDT             /* 생년월일 */
		     , GNDR_CD          /* 성별코드 */
		     , CI_VAL           /* CI값 */
		     , SRC_SYS_CD       /* 출처시스템코드 */
		     , SRC_LGN_ID       /* 출처시스템로그인ID */
		     , SRC_REG_DT       /* 출처시스템등록일시 */
		     , REG_DT           /* 등록일시 */
		) VALUES (
		       #{aplySn}        /* 신청일련번호 */
		     , #{brno}          /* 사업자등록번호 */
		     , #{psnlNm}        /* 개인이름 */
		     , #{eml}           /* 이메일 */
		     , hex(aes_encrypt(#{mbno}, SHA2('F@42',512))) /* 핸드폰 */
		     , #{telno}         /* 전화번호 */
		     , #{zip}           /* 우편번호 */
		     , #{addr}          /* 기본주소 */
		     , #{daddr}         /* 상세주소 */
		     , #{brdt}          /* 생년월일 */
		     , #{gndrCd}        /* 성별코드 */
		     , #{ciVal}         /* CI값 */
		     , #{srcSysCd}      /* 출처시스템코드 */
		     , #{srcLgnId}      /* 출처시스템로그인ID */
		     , #{srcRegDt}      /* 출처시스템등록일시 */
		     , NOW()            /* 등록일시 */
		)
	</insert>
	
	<resultMap id="BnftPsnlTempInfo" type="kr.bizdata.semas.pms.bnft.info.BnftPsnlTempInfo" />
	
	<sql id="columns_BnftPsnlTempInfo">
		       PSNL_SN          /* 개인일련번호 */
		     , APLY_SN          /* 신청일련번호 */
		     , BRNO             /* 사업자등록번호 */
		     , PSNL_NM          /* 개인이름 */
		     , EML              /* 이메일 */
		     , cast(aes_decrypt(unhex(MBNO), SHA2('F@42',512))as char) AS MBNO /* 핸드폰 */
		     , TELNO            /* 전화번호 */
		     , ZIP              /* 우편번호 */
		     , ADDR             /* 기본주소 */
		     , DADDR            /* 상세주소 */
		     , BRDT             /* 생년월일 */
		     , GNDR_CD          /* 성별코드 */
		     , CI_VAL           /* CI값 */
		     , SRC_SYS_CD       /* 출처시스템코드 */
		     , SRC_LGN_ID       /* 출처시스템로그인ID */
		     , SRC_REG_DT       /* 출처시스템등록일시 */
		     , REG_DT           /* 등록일시 */
	</sql>
	
	<select id="select" resultMap="BnftPsnlTempInfo">
		/* SQL ID : BnftPsnlTempMapper.select */
		SELECT <include refid="columns_BnftPsnlTempInfo" />
		  FROM BNFT_PSNL_TEMP
		 WHERE PSNL_SN = #{psnlSn}  /* 개인일련번호 */
	</select>
	
</mapper>
